/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  background-color: gainsboro;
  margin-top: 80px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

.nav-username {
  padding: 15px;
  color: darkgrey;
}

.nav-form-link {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.nav-form-link .link {
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav-form-link a {
  color: grey;
}

.nav-form-link a:hover {
  text-decoration: none;
  color: black;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
.logo {
  width: 519px;
  height: 71px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/phoenix.png");
  background-size: 519px 71px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

.thumbnail {
  border-radius: 0;
}

.thumbnail-video {
  min-height: 240px;
}

.thumbnail-video-link:hover {
  text-decoration: none;
}

.index-flashcards {
  background-color: gainsboro;
}

.page-annotation {
  border: 1px solid grey;
  color: black;
  background-color: powderblue;
  padding: 10px;
  margin-bottom: 10px;
}

.page-annotation-link:hover {
  text-decoration: none;
}

.nav-thumbnail-front p {
  font-weight: 700;
}

.ann-card {
  display: float;
}

.ann-front {
  float: left;
  width: 50%;
}

.ann-back {
  float: right;
  width: 50%;
  font-size: 12px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /* max-width: 730px; */
    max-width: 1280px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message */
.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
